<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
    <html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
                
        <!-- Boxicons CSS -->
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
                        
    </head>
    <body>
        <section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Register an account</header>
                    <form action='.' method="POST">
                        {% csrf_token%}
                        <div class="field input-field">
                            <p><label>Username: </label>{{form.username}}</p>
                        </div>
                        <div class="field input-field">
                            <p><label>Email: </label>{{form.email}}</p>
                        </div>

                        <div class="field input-field">
                            <p><label>Create password: </label>{{form.password1}}</p>
                        </div>

                        <div class="field input-field">
                            <p><label>Confirm password: </label>{{form.password2}}</p>
                        </div>


                        <div class="field button-field">
                            <input type="submit" value="Signup"/>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Already have an account? <a href="{% url 'login' %}" class="">Login</a></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- JavaScript -->
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>